* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Source Sans Pro", serif;
  }

  html{
    font-size: 62.5%;
   
  }

.nav-flex {
    display: flex;
    justify-content: space-between;
    height:10rem;
    width:100%;
}

.banner {
    display:flex;
    flex-wrap: wrap;
    height: 556px;
    width: 100%;
}

.banner div {
    width: 50%;
}

.banner img {
    width:55.6rem;
    padding-left: 3%;
}

.banner h1 {
    font-size: 4.5rem;
    font-family: "Poppins" , serif;
    font-weight: 400;
    padding-top: 25%;
}

.banner p {
    font-size:2.25rem;
    font-weight:400;
    color: #4f5c5c;
}

.planos {
    display:flex;
    flex-wrap:wrap;
    height:44rem;
}

.planos-card{
    margin-right: 0;
    padding: 5%;
    height: 100%;
    width:70%;
    background:#001e27;
    color: #ffffff;
}

.planos-light {
    width:30%;
}

.planos-card h1{
    font-size:4.5rem;
    font-family: "Poppins", serif;
}

.planos-card p{
    font-size: 2.25rem;
    font-weight: 400;
    
}

.botao-plano {
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px

}

.planos-card div a{
    width: 210px;
    height: 40px;
    border-right:10px;
    border-radius: 1000px;
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    padding-top:3.5%;
    }

   

    .flex {
        display: flex;
        padding-top: 5%;
    }

    .flex img {
        display: flex;
        justify-content: flex-end;
    }

    .planos-light{
        display: flex;
        align-items: flex-end;
    }

    .planos-light img {
        height:19.2rem;
        width: 100%;
    }

.empresas-parceiras{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height:11.2rem;
    padding-top:2.5%;
}

.servicos{
    display: flex;
    justify-content: space-around;
    padding:3%;
    line-height: 2.4rem;
    height: 42.4rem;
    font-size: 1.6rem;
}

.servicos h5{
    font-size: 1.6rem;
}

.servicos .servicos-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


footer {
    background:#001e27;
    height:8rem;
    padding:0px  6.4rem;
    font-family: "Source Sans Pro", serif;
    font-size:1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

footer p{
    margin:0;
}

.social{
    display: flex;
    justify-content: space-between;
    width: 14.4rem;
}







@media only screen and (max-width: 480px){

    .banner {
        height:100rem;
    }

    .planos {
        height: 40rem;
    }

    .planos-card {
        width:100%;
    }

    .planos-light{
        display:none;
    }

    .empresas-parceiras {
        height: 22.4rem;
    }

    .empresas-parceiras img {
        width: 15rem;
    }
    .servicos {
        height: 50rem;
        padding-right:0;

    }

    footer {
        height: 16rem;
    }

}


    .empresas-parceiras {
        height: 22.4rem;
        